<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <lucide-icon [img]="UsersIcon" class="icon"></lucide-icon>
        Total de Visitas Este Mes
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-4xl font-bold">{{ totalVisitsThisMonth() }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <lucide-icon [img]="CalendarIcon" class="icon"></lucide-icon>
        Últimas Visitas
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (visit of latestVisits(); track $index) {
        <mat-list-item>
          <span matListItemTitle>{{ visit.visitorFullName }}</span>
          <span matListItemLine>{{ visit.entryTime | date : "short" }}</span>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
