<aside class="dashboard-sidebar">
  <div class="sidebar-header">
    <a href="#" class="logo">
      <lucide-icon [img]="Box" [size]="32"></lucide-icon>
      <span class="logo-text">ZENTRYAL</span>
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul>
      @for (item of menuService.menuItems(); track item.path) {
      <li>
        <a [routerLink]="item.path" routerLinkActive="active" class="nav-link">
          <lucide-icon [name]="item.icon" [size]="20"></lucide-icon>
          <span>{{ item.name }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
  <div class="sidebar-footer">
    <a href="#" class="nav-link" (click)="logout()">
      <lucide-icon [img]="LogOut" [size]="20"></lucide-icon>
      <span>Cerrar sesión</span>
    </a>
  </div>
</aside>
