<aside class="dashboard-sidebar">
  <div class="sidebar-header">
    <a href="#" class="logo">
      <lucide-angular name="Box" size="32"></lucide-angular>
      <span class="logo-text">My App</span>
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul>
      @for (item of menuService.menuItems(); track item.path) {
      <li>
        <a [routerLink]="item.path" routerLinkActive="active" class="nav-link">
          <lucide-angular [name]="item.icon" size="20"></lucide-angular>
          <span>{{ item.name }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
  <div class="sidebar-footer">
    <a href="#" class="nav-link">
      <lucide-angular name="LogOut" size="20"></lucide-angular>
      <span>Log out</span>
    </a>
  </div>
</aside>
