<div class="page-layout">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registrar Visita</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field-full">
          <mat-label>Nombre del Visitante</mat-label>
          <input matInput formControlName="visitorName" />
        </mat-form-field>

        <mat-form-field class="form-field-full">
          <mat-label>Motivo de la Visita</mat-label>
          <input matInput formControlName="reason" />
        </mat-form-field>

        <mat-form-field class="form-field-full">
          <mat-label>Residente</mat-label>
          <mat-select formControlName="residentId">
            @for (resident of residents; track resident.id) {
            <mat-option [value]="resident.id">
              {{ resident.firstName }} {{ resident.lastName }} -
              {{ resident.apartmentNumber }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!visitForm.valid"
        >
          <lucide-icon [img]="SaveIcon"></lucide-icon>
          Registrar Visita
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
