<div class="p-6">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register Visit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full">
          <mat-label>Visitor Name</mat-label>
          <input matInput formControlName="visitorName" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Reason for Visit</mat-label>
          <input matInput formControlName="reason" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Resident</mat-label>
          <mat-select formControlName="residentId">
            @for (resident of residents; track resident.id) {
            <mat-option [value]="resident.id">
              {{ resident.firstName }} {{ resident.lastName }} -
              {{ resident.apartmentNumber }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div *ngIf="errorMessage" class="text-red-500 my-4">
          {{ errorMessage }}
        </div>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!visitForm.valid || !canRegister"
        >
          <lucide-angular [name]="SaveIcon" class="mr-2"></lucide-angular>
          Register Visit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
