<div class="residents-container">
  <h2>Residents</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Apartment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (resident of residents(); track resident.id) {
        <tr>
          <td>{{ resident.firstName }} {{ resident.lastName }}</td>
          <td>{{ resident.apartmentNumber }}</td>
        <td>
          <button [routerLink]="['/residents/edit', resident.id]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
